<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>День программиста</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <video autoplay muted loop class="background-video">
            <source src="video/videoplayback.mp4" type="video/mp4">
        </video>
        <div class="main">
            <div class="wallpaper">
                <header class="header">
                    <nav class="header__navigation">
                        <a class="header__logo-link" href="https://ithub.ru/">
                            <img src="img/logoIThub.png" alt="logo" class="header__logo">
                        </a>
                    </nav>
                </header>
                <ul class="header__lvl-list">
                    <li class="header__lvl">1</li>
                    <li class="header__lvl">2</li>
                    <li class="header__lvl">3</li>
                    <li class="header__lvl">4</li>
                    <li class="header__lvl">5</li>
                    <li class="header__lvl">6</li>
                    <li class="header__lvl">7</li>
                    <li class="header__lvl">8</li>
                    <li class="header__lvl">9</li>
                    <li class="header__lvl">10</li>
                    <li class="header__lvl">11</li>
                    <li class="header__lvl">12</li>
                    <li class="header__lvl">13</li>
                    <li class="header__lvl">14</li>
                    <li class="header__lvl">15</li>
                    <li class="header__lvl">16</li>
                </ul>
                <div class="form-blocks">
                    <div class="login">
                        <form id="loginUser" class="login__form" method="post">
                            <p class="login__text">Внимание! На сайте еще присутствуют баги и иногда может выбрасывать окно с тем, что вы ввели неверный пароль. Просто закройте окно или перезагрузите страницу</p>
                            <input name="email" type="email" class="login__input-email" placeholder="E-mail">
                            <input type="submit" value="Войти" class="login__input-button">
                        </form>
                    </div>
                    <div class="task">
                        <form id="answerUser" class="task__form" method="post">
                            <p class="task__text">4 этажа: В доме 4 этажа, чем выше этаж, тем больше человек там живёт. На какой этаж чаще ездит лифт?</p>
                            <textarea name="answer" cols="30" rows="10" class="task__answer" placeholder="Ответ"></textarea>
                            <input type="submit" placeholder="Ответить" class="task__input-button">
                        </form>
                    </div>
                    <div class="score">
                        <div class="score__text-block">
                            <p class="score__text">Твой результат:</p>
                            <p class="score__number">16</p>
                            <p class="score__text">Поздравляю!!!</p>
                        </div>
                    </div>
                    <div class="error">
                        <p class="error__text">Ты ошибся!</p>
                        <button class="error__button">Попробовать еще раз</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="./js/script.js"></script>
    </body>
</html>